@import "../../../styles/mixin.scss";
@import "../../../styles/device.scss";

$item-padding: 1rem;
$item-padding-mobile: 0.8rem 1rem;

$container-width: 60rem;
$left-width: 10rem;
$right-width: 50rem;
$container-radius: 25px;

$item-title-font: 1.2rem;
$item-height: 12rem;
$item-width-mobile: 20rem;

$item-name-size: 0.8rem;
$item-value-size: 1.6rem;

@mixin item-style {
    @include dark-block;
    margin-bottom: 1rem;
    height: $item-height;

    @media (max-width: $mobile-screen) {
        width: $item-width-mobile;
    }
}

@mixin item-name-style {
    font-size: $item-name-size;
}

@mixin item-value-style {
    font-size: $item-value-size;
    font-weight: bolder;
}

.detail-panel {
    @include light-block;
    @include block-border;

    height: 100%;

    display: flex;
    flex-wrap: nowrap;

    &-container {
        @include center;
        position: fixed;

        width: $container-width;
        height: 70%;
        max-height: 35rem;

        z-index: 1000;

        @media (max-width: $external-screen) {
            height: 50%;
        }

        @media (max-width: $pc-screen) {
            height: 70%;
        }

        @media (max-width: $mobile-screen) {
            width: 90%;
            overflow: hidden;
        }
    }

    &-left {
        @include dark-block;
        border-radius: $container-radius 0 0 $container-radius;
        width: $left-width;
        padding: 1rem;
    }

    &-right {
        flex-shrink: 0;

        width: $right-width;
        border-radius: 0 $container-radius $container-radius 0;
        padding: 1rem;

        @media (max-width: $mobile-screen) {
            overflow-y: scroll;
        }
    }

    &-items-set {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $mobile-screen) {
            width: 19rem;
            flex-wrap: wrap;
        }
    }

    .detail-item {
        &-asset {
            @include item-style;
            width: 46%;
        }

        &-performance {
            @include item-style;
            width: 25%;
        }

        &-minimap {
            @include item-style;
            position: relative;
            width: 25%;
            overflow: hidden;

            &-location {
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                z-index: 1000;
            }
        }

        &-generation {
            @include item-style;
            width: 25%
        }

        &-irradiation {
            @include item-style;
            width: 73%;

            @media (max-width: $mobile-screen) {
                height: 16rem;
            }
        }

        &-common {
            padding: $item-padding;

            @media (max-width: $mobile-screen) {
                padding: $item-padding-mobile;
            }
        }

        &-title {
            font-size: $item-title-font;
            line-height: 1rem;
        }
    }
}

.bold-title {
    @include bold-title;
}

.unit {
    @include unit-style;
}

.asset-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    height: 10rem;
}
