<div class="detail-panel-container">
    <app-close-btn (close)="handleClose()" />
    <div class="detail-panel">
        <div class="detail-panel-left">
            <app-dashboard />
        </div>
        <div class="detail-panel-right">
            <p>{{locationName}}</p>
            <div class="detail-panel-items-set">
                <div class="detail-item-asset">{{ 'Assets' | translate}}</div>
                <div class="detail-item-performance">
                    {{ 'performanceTitle' | translate}}
                    {{ 'performanceRatio' | translate}}
                    {{ 'efficiency' | translate}}
                </div>
                <div class="detail-item-minimap">
                    <app-mini-map [coords]="coordinates" />
                    <span class="detail-item-minimap-location">
                        {{ 'Location' | translate}}
                        <br />
                        {{coordinates | parseLocation}}</span>
                </div>
                <div class="detail-item-generation">{{ 'generationTitle' | translate}}</div>
                <div class="detail-item-irradiation">
                    {{ 'irradTimeseries' | translate}}
                    <app-energy-chart [xData]="timeList" [yData]="radiationList" />
                </div>
            </div>
        </div>
    </div>
</div>