<div class="detail-panel-container">
    <app-close-btn (close)="handleClose()" />
    <div class="detail-panel">
        <div class="detail-panel-left">
            <app-dashboard (subjectChange)="handleTabChange($event)" />
        </div>
        <div class="detail-panel-right" [ngSwitch]="activeTab">
            <app-inverter-efficiency *ngSwitchCase="DashBoard.EFFICIENCY" [locationName]="locationName"
                [coordinates]="coordinates" [chartData]="chartData" [loading]="loading" />
            <div *ngSwitchCase="DashBoard.STRING_PERF">
                <p>{{'stringPerf' | translate}}</p>
            </div>
            <div *ngSwitchCase="DashBoard.POWER_CURVE">
                <p>{{'powerCurve' | translate}}</p>
            </div>
            <div *ngSwitchCase="DashBoard.SOILING">
                <p>{{'soilLoss' | translate}}</p>
            </div>
            <div *ngSwitchCase="DashBoard.CLIPPING">
                <p>{{'clipLoss' | translate}}</p>
            </div>
        </div>
    </div>
</div>