@import "../../../styles/icon.scss";

.close-shape {
  @include icon-background;

  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
}

.close-shape::before,
.close-shape::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #FFF;
  top: 50%;
  transform-origin: center;
}

.close-shape::before {
  transform: rotate(45deg);
}

.close-shape::after {
  transform: rotate(-45deg);
}