@import "../../../styles/mixin.scss";
@import "../../../styles/device.scss";

$input-width: 20rem;
$input-height: 30px;
$container-width: 32rem;
$container-height: 40px;
$placeholder-color: #FFF;

.search-bar {
    @include justify-center;

    position: fixed;
    top: 0;
    z-index: 1000;

    &-container {
        @include light-block;
        @include block-border;

        display: flex;
        align-items: center;
        justify-content: space-around;

        width: $container-width;
        height: $container-height;
        margin-top: 1rem;
        padding: 0 10px;

        @media (max-width: $mobile-screen) {
            padding: 0 5px;
        }
    }

    &-suggestions {
        @include light-block;
        @include justify-center;

        position: absolute;
        border-radius: 0 0 10px 10px;
        width: 80%;

        margin: 0;
        padding: 0;
    }
}

.search-input-set {
    position: relative;
    width: $input-width;

   .search-icon {
        position: absolute;
        top: 0.1rem;
        right: 10px;

        cursor: pointer;

        @media (max-width: $mobile-screen) {
            top: 0.4rem;
        }
    }
}

input {
    @include dark-block;

    width: $input-width;
    height: $input-height;
    padding: 5px 1rem;
    color: #FFF;

    border: none;
    border-radius: 2rem;

    &:focus {
        border: none;
        outline: none;
    }
}

input::placeholder {
    color: $placeholder-color;
    opacity: 0.5;
}

/* Chrome, Safari, Opera */
input::-webkit-input-placeholder {
    color: $placeholder-color;
    opacity: 0.5;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: $placeholder-color;
    opacity: 0.5;
}

/* IE 10+ */
input:-ms-input-placeholder {
    color: $placeholder-color;
    opacity: 0.5;
}