@import "../styles.scss";

@mixin icon-background {
    display: flex;  
    justify-content: center;  
    align-items: center;

    padding: 5px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;

    &:hover {
        background: $hover-color;
    }

    @media (max-width: $mobile-screen) {
        transform: scale(0.8);
    }
}