@import "../../../styles/mixin.scss";
@import "../../../styles/device.scss";

.overview-panel {
    &-container {
        position: fixed;
        top: 3rem;
        right: 2rem;
        z-index: 1000;

        width: 25rem;

        @media (max-width: 1200px) {
            width: 25rem;
        }
        
        @media (max-width: $mobile-screen) {
            // todo 移动端样式
            @include justify-center;
            width: 30rem;
            top: 5rem;
        }
    }

    &-item {
        @include light-block;

        height: 8rem;
        margin: 1rem;
    }

    &-item-lg {
        @include light-block;
        border-radius: 15px;
        height: 9rem;

        @media (max-width: $mobile-screen) {
            height: 12rem;
        }
    }
}

// .square {
//     aspect-ratio: 1 / 1;
// }
