@import "./styles/device.scss";

$hover-color: rgb(103, 103, 103);

html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: $mobile-screen) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}